body {
    color: aliceblue;
    background-color:black;
}

#rock {
    display: flex;
    max-width: 100%;
    min-width: 33%;
    max-height: 100%;
}

/* #paper {
    display: flex;
    max-width: 33%;
    min-width: 33%;
    max-height: 50%;
} */

.paper-button {
    display: flex;
    max-width: 50px;
    max-height: 50px;
}

